@charset "UTF-8";

/* リセットCSS */
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: garamond-premier-pro-subhead,garamond-premier-pro-display,"リュウミン R-KL","Ryumin Regular KL",RyuminPro-Regular,"游明朝","Yu Mincho","游明朝体",YuMincho,"ヒラギノ明朝 Pro W3","Hiragino Mincho Pro",HiraMinProN-W3,"HGS明朝E","ＭＳ Ｐ明朝","MS PMincho",serif;
}



/* =======================
.menu-trigger
======================= */
.menu-trigger {
  display: none; /*PCの時は消しておく*/
  -webkit-appearance: none; /* Crome用 フォ-ム要素の初期化*/
  appearance: none; /*フォ-ム要素の初期化*/
  border: none;
  background: transparent; /* Firefox用 背景を透過させる設定*/
}
.menu-trigger,
.menu-trigger span {
	display: inline-block; /* ブロック要素とインライン要素の中間の状態の要素*/
	transition: all .4s;
	box-sizing: border-box;
}
.sp_log {
  display: none; /*PCの時は消しておく*/
  -webkit-appearance: none; /* Crome用 フォ-ム要素の初期化*/
  appearance: none; /*フォ-ム要素の初期化*/
  background: transparent; /* Firefox用 背景を透過させる設定*/
}



/* =======================
responsive
======================= */
@media (max-width:480px) {
  .sp_header {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 60px;
    background-color: #fefefe;
    z-index: 3;
  }
  .menu-trigger {
    width: 56px;
    height: 60px;
    /*positionで画面左上に絶対配置*/
    position: fixed;
    top: 0;
    right: 0;
    /*要素の重なり、上のレイヤーと同じ考えかた*/
    z-index: 2;
    /*クリックした際のボタン周りの線を消す*/
    outline: none;
  }
  .menu-trigger span {
    position: absolute;
    left: 50%;
    width: 32px;
    height: 1px;
    background-color:#071B07;
    /*menu-trigger内のspan全体を中心位置に揃える設定*/
    transform: translate(-50%, -50%);
  }
  .menu-trigger span:nth-of-type(1) {
    top: 17px;
  }
  .menu-trigger span:nth-of-type(2) {
    top: 47%;
  }
  .menu-trigger span:nth-of-type(3) {
    bottom: 19px;
  }
  .sp_log {
    width: 30px;
    height: 50px;
  }

/*.active:クリック後、表示*/
  .menu-trigger.active span:nth-of-type(1) {
    top: 49%;
    /* 変形の設定 右側の軸は変えずに左側を傾けている */
    transform: translate(-50%, -50%) rotate(-45deg);
  }
  .menu-trigger.active span:nth-of-type(2) {
    opacity: 0; /*透過の指定で消してる*/
  }
  .menu-trigger.active span:nth-of-type(3) {
    bottom: 49%;
    /* 変形の設定 右側の軸は変えずに左側を上に傾けている */
    transform: translate(-50%, -50%) rotate(45deg);
  }


  /*----- スマホ ナビゲーション ----- */
  .drawer {
    display: none;/* クリックする前は消えてほしい*/
    width: 100vw;/*画面横幅めいいっぱい広げる*/
    height: 100vh;/*画面縦幅めいいっぱい広げる*/
    background: rgba(0,0,0,0.8);
    margin: 0;
    padding: 90px 5% 0;
    /*positionと組み合わせページをスクロールした場合も同じ位置に常に置く設定_transrateXと合わせてど真ん中に位置を合わせる設定*/
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;/* 何かしらの要素の背面に設置*/
  }
  .drawer.active {
    display: block;/* クリックした時に表示*/
    z-index: 1;/* 何かしらの要素の全面に設置*/
  }

  .drawer ul {
    /* display:flex;を解除して縦並びにしている*/
    display: block;
  }

  .drawer li {
    margin: 0 auto;
  }

  .drawer li,
  .drawer li:last-child {
    /*画面横にめいいっぱい伸ばしている設定*/
    text-align: center;
    margin-bottom: 6%;
  }
  .drawer li a {
    font-size: 24px;
    text-align: center;
    background: none;
    padding-top: 12px;
  }
}/* max-width:767px END*/